name: biome
on:
  - push
  - pull_request

jobs:
  lint:
    name: Lint & Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - run: npm install -g yarn
      - run: yarn install
      - run: yarn biome:check